<body background= "images.jpeg">

<h1>XChem Outreach Rocks!</h1>

<p>Fun fact about myself,<br>I only started programming two years ago</p>

<pre>

what is my name?

My name is Trevor Gallant!

</pre>

<form method="get" action="http://www.google.com/search">
<input type="text" name="q" size="31" maxlength="255" value="" />
<input type="submit" value="Google Search" />
<input type="radio" name="sitesearch" value="" />
The Web

<br>
<br>
<br>
<a href="http://www.w3schools.com/"> Click this link if you need help with CSS/HTML </a>

</body>