<body>
<h1>HTML</h1>
<p>Step 1: Open a empty notepad document</p>
<br>
<p>Step 2: Your first line must be <!DOCTYPE> and your second line must be <html> this notifies the notepad that you are programming in html </p>
<br>
<p>Step 3: Place a <head> tag then <title> and your website title (dont forget to close your tags with </title> and </head>)</p>
<br>
<p>Step 4: Place a <body> tag.
<br>
<pre>

Here is where the creativity begins, from within the body we can use <p> tag which stands for paragraph, we can use <h1> tag to place our first header, we can use <br> tag to skip a line.

</pre>
<br>
<pre>

To add a link use href here is an example tag: <a href="https://www.google.ca"> Google </a> (The a just gives the hyperlink a name, I named this hyperlink google).

</pre>
<br>
<pre>

To add an image, right click it and click save as. Save it within the same folder you saved your notepad in and the format of the tag looks like this. <img src="name of photo" alt="text description" style="width:(Size)px;height:(Size)px">.<br><br> An example of this tag would be <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">

</pre>
</body>